<h1>Tracking Devices</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!devices"><em>Loading...</em></p>

<table class='table' *ngIf="devices">
  <thead>
    <tr>
      <th>Device</th>
      <th>Location</th>
      <th>Created Date</th>
    </tr>
  </thead>
  
  <tbody *ngFor="let device of devices">
    <tr  >
      <td colspan="2"> {{ device.name }}</td>
    </tr>
    <tr *ngFor="let report of device.reports">
      <td></td>
      <td>{{report.location}}</td>
      <td>
        {{report.dateCreatedText}}
      </td>
    </tr>
  </tbody>
</table>
